<div id="modalRegister"> 
<script>

    var modalRegister = document.getElementById("modalRegister");
    var modalWindowRegister = document.getElementById("modalWindowRegister");
    var modalFullRegister = document.getElementById("authentication-modal-register");
    var body = document.getElementById("body");
    var closeRegisterModalBtn = document.getElementById("closeRegisterModalBtn");
        

    var modalLogin = document.getElementById("modalLogin");
    var modalFull = document.getElementById("authentication-modal");
    var modalOverlay = document.getElementById("modalOverlay");
    var body = document.getElementById("body");
    var closeLoginModalBtn = document.getElementById("closeLoginModalBtn");

        body.onclick = function(eventLogin) {
            if (eventLogin.target == modalFull || eventLogin.target == closeLoginModalBtn) {
                modalLogin.remove();
                modalOverlay.remove();
                body.style = 'pointer-events: auto;';
            }
            if (eventLogin.target == modalFullRegister || eventLogin.target == closeRegisterModalBtn || eventLogin.key === "Escape") {
            modalRegister.remove();
            //body.style = 'pointer-events: auto;';
        }            
        }

document.body.addEventListener('htmx:configRequest', (e) => {
e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
})
</script>

   <div id="authentication-modal-register" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal h-full justify-center items-center flex" aria-modal="true" role="dialog">
    <div class="relative w-full max-w-md h-auto">
        <!-- Modal content -->
        <div id="modalContent" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button id="closeRegisterModalBtn" type="button" class="absolute top-3 right-3 text-gray-400 bg-transparent hover:text-gray-900 rounded-lg text-sm ml-auto inline-flex items-center dark:hover:text-white">
                <svg aria-hidden="true" class="w-5 h-5 pointer-events-none" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div id="modalWindowRegister" class="py-6 px-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Sign up</h3>
                <form id="form-error" method="post" hx-post="{% url 'register' %}" hx-swap="outerHTML" hx-target="#modalRegister" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' false>
                <!-- onsubmit="return" -->
                    {% csrf_token %}
                    {% for field in form %}
                    {{ field }}
                    {% for error in field.errors %} 
                    <span class="text-red-500">{{ error }}</span>
                    {% endfor %}
                    {% endfor %}
                    <div id="passwordInfo"></div>
                <button type="submit" name="btnSubmit" class="w-full mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign up</button>
                    <div class="text-sm mt-2 font-medium text-gray-500 dark:text-gray-300">
                        Already have an account? <a href="#" class="text-blue-700 hover:underline dark:text-blue-500">Sign in</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>     
</div>
